{#
/**
 * @file
 * Default theme implementation for wrapping a link render element.
 *
 * Available variables:
 *   - attributes: attributes to apply to the wrapper element.
 *   - link: the freelinking link.
 */
#}
<span {{ attributes }}>{{ link }}</span>
